/* .debug{
  background-color: rgba(0, 128, 0, 0.311);
  border: 1px solid black;
} */

.container-lf{
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

#ticket .col {
  min-height: 150px;
}

#details-row .col {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;

}

#passenger-data{
  height: 150px;
  width: 100%;
  background-color: grey;

}
